<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated REA-EML -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="REA_EML.presentation.REA_EMLModelWizardID"
            name="%_UI_REA_EMLModelWizard_label"
            class="REA_EML.presentation.REA_EMLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/REA_EMLModelFile.gif">
         <description>%_UI_REA_EMLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated REA-EML -->
      <editor
            id="REA_EML.presentation.REA_EMLEditorID"
            name="%_UI_REA_EMLEditor_label"
            icon="icons/full/obj16/REA_EMLModelFile.gif"
            extensions="rea_eml"
            class="REA_EML.presentation.REA_EMLEditor"
            contributorClass="REA_EML.presentation.REA_EMLActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated REA-EML -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="REA_EML.REA_EML_BPM.presentation.REA_EML_BPMModelWizardID"
            name="%_UI_REA_EML_BPMModelWizard_label"
            class="REA_EML.REA_EML_BPM.presentation.REA_EML_BPMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/REA_EML_BPMModelFile.gif">
         <description>%_UI_REA_EML_BPMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated REA-EML -->
      <editor
            id="REA_EML.REA_EML_BPM.presentation.REA_EML_BPMEditorID"
            name="%_UI_REA_EML_BPMEditor_label"
            icon="icons/full/obj16/REA_EML_BPMModelFile.gif"
            extensions="rea_eml_bpm"
            class="REA_EML.REA_EML_BPM.presentation.REA_EML_BPMEditor"
            contributorClass="REA_EML.REA_EML_BPM.presentation.REA_EML_BPMActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated REA-EML -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="REA_EML.REA_EML_BCM.presentation.REA_EML_BCMModelWizardID"
            name="%_UI_REA_EML_BCMModelWizard_label"
            class="REA_EML.REA_EML_BCM.presentation.REA_EML_BCMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/REA_EML_BCMModelFile.gif">
         <description>%_UI_REA_EML_BCMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated REA-EML -->
      <editor
            id="REA_EML.REA_EML_BCM.presentation.REA_EML_BCMEditorID"
            name="%_UI_REA_EML_BCMEditor_label"
            icon="icons/full/obj16/REA_EML_BCMModelFile.gif"
            extensions="rea_eml_bcm"
            class="REA_EML.REA_EML_BCM.presentation.REA_EML_BCMEditor"
            contributorClass="REA_EML.REA_EML_BCM.presentation.REA_EML_BCMActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated REA-EML -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="REA_EML.REA_EML_BPolM.presentation.REA_EML_BPolMModelWizardID"
            name="%_UI_REA_EML_BPolMModelWizard_label"
            class="REA_EML.REA_EML_BPolM.presentation.REA_EML_BPolMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/REA_EML_BPolMModelFile.gif">
         <description>%_UI_REA_EML_BPolMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated REA-EML -->
      <editor
            id="REA_EML.REA_EML_BPolM.presentation.REA_EML_BPolMEditorID"
            name="%_UI_REA_EML_BPolMEditor_label"
            icon="icons/full/obj16/REA_EML_BPolMModelFile.gif"
            extensions="rea_eml_bpolm"
            class="REA_EML.REA_EML_BPolM.presentation.REA_EML_BPolMEditor"
            contributorClass="REA_EML.REA_EML_BPolM.presentation.REA_EML_BPolMActionBarContributor">
      </editor>
   </extension>

</plugin>
